<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Akuisisi</a></h1>
    </li>
  </ul>
</nav>

<header>
  <div id="map" style="height: 200px;"></div>
</header>

<section id="main-content">
  <div class="row">
    <div class="large-12 columns">
      <h2>{{ feature.properties.title }}</h2>
      <h4>{{ feature.properties.subtitle }}</h4>
      <a target="_blank" href="https://www.google.com/maps/preview#!q={{ lat }}%2C{{ lng }}"><sup>lat: {{ lat }}, lng: {{ lng }}</sup></a>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <div>&nbsp;</div>
      <a class="secondary button small" href="/">&#8592; Back</a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <form>
        <fieldset>
          <legend>Metadata</legend>
          <div class="row">
            <div class="large-12 columns">
            <label>Title</label>
            <input type="text" ng-model="feature.properties.title" placeholder="Title">
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Latitude</label>
              <input type="text" ng-model="lat" placeholder="Latitude">
            </div>
            <div class="large-6 columns">
              <label>Longitude</label>
              <input type="text" ng-model="lng" placeholder="Longitude">
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
            <label>Subtitle</label>
            <input type="text" ng-model="feature.properties.subtitle" placeholder="Title">
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Category</label>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <ul style="list-style-type: none; padding:0; margin:0;">
                <li><input type="checkbox" ng-model="category[0]" ><label>Purbakala</label></li>
                <li><input type="checkbox" ng-model="category[1]"><label>Objek Wisata Alam</label></li>
                <li><input type="checkbox" ng-model="category[2]"><label>Air dan Pantai</label></li>
                <li><input type="checkbox" ng-model="category[3]"><label>Kontemporer</label></li>
                <li><input type="checkbox" ng-model="category[4]"><label>Kultural</label></li>
                <li><input type="checkbox" ng-model="category[5]"><label>Museum</label></li>
              </ul>
            </div>

            <div class="large-3 columns">
              <ul style="list-style-type: none; padding:0; margin:0;">
                <li><input type="checkbox" ng-model="category[6]"><label>Kuliner dan Restoran</label></li>
                <li><input type="checkbox" ng-model="category[7]"><label>Bandara</label></li>
                <li><input type="checkbox" ng-model="category[8]"><label>Terminal</label></li>
                <li><input type="checkbox" ng-model="category[9]"><label>Pelabuhan</label></li>
                <li><input type="checkbox" ng-model="category[10]"><label>Sekunder</label></li>
              </ul>
            </div>

            <div class="large-6 columns">
              &nbsp;
            </div>

          </div>
          <div class="row">
            <div class="large-12 columns">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
            <label>Address</label>
            <textarea type="text" ng-model="feature.properties.address" placeholder="Address"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
            <label>Description</label>
            <textarea type="text" ng-model="feature.properties.description" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
            <label>Note</label>
            <textarea type="text" ng-model="feature.properties.note" placeholder="Note"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="large-2 columns">
            <button class="small" ng-disabled="saving" ng-click="save()">{{ saveLabel }}</button>
            </div>
            <div class="large-4 columns">
              <div ng-show="success" class="alert-box success radius">
                Success, bro! Woles bro!
                <a class="close" ng-click="close()">&times;</a>
              </div>
              <div ng-show="failed" class="alert-box alert radius">
                Woles bro! Ana sing mistake bro!
                <a class="close" ng-click="close()">&times;</a>
              </div>
            </div>
            <div class="large-6 columns">
              &nbsp;
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <form>
        <fieldset>
          <legend>Additional Metadata</legend>
          <div class="row">
            <div class="large-12 columns">
              <button class="small">Add</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <form>
        <fieldset>
          <legend>Images</legend>
          <div class="row">
            <div class="large-12 columns">
              <ul class="small-block-grid-3">
                <li ng-repeat="image in images">
                  <a href="/#/pictures/{{ feature.id }}/{{ image.filename }}"><img class="th" ng-src="{{ '/image/' + image.filename }}"></a>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  
</section>
