<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Akuisisi</a></h1>
    </li>
  </ul>
</nav>

<header>
   <div class="row">
      <div class="large-12 columns">
         &nbsp;
      </div>
   </div>
</header>

<section id="main-content">
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4>Akuisisi by Mr. Stay Woles</h4>
        <p>"At ease, Ensign, before you sprain something" -- Janeway</p>
        <ul class="disc">
          <li ng-repeat="feature in features">
            <a href="/#/points/{{ feature.id }}">{{ feature.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
